<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecione os seus Aperitivos</title>
    <link rel="stylesheet" href="../css/foodsdrinks.css">
</head>
<body>
    <h1>Aperitivos do Cinema</h1>
    <div id="items">
        <div class="item">
            <img src="https://images.tcdn.com.br/img/img_prod/782419/50_kits_mini_embalagens_pipoca_p_50_caixas_tamanho_medio_m_53122731_1_20200805085910.png" alt="Pipoca">
            <span class="item-title">Pipoca P</span>
            <span class="price">R$ 8,00</span>
            <input type="number" min="0" value="0" class="quantity">
        </div>
        <div class="item">
            <img src="https://images.tcdn.com.br/img/img_prod/782419/50_kits_mini_embalagens_pipoca_p_50_caixas_tamanho_medio_m_53122731_1_20200805085910.png" alt="Pipoca">
            <span class="item-title">Pipoca M</span>
            <span class="price">R$ 10,00</span>
            <input type="number" min="0" value="0" class="quantity">
        </div>
        <div class="item">
            <img src="https://images.tcdn.com.br/img/img_prod/782419/50_kits_mini_embalagens_pipoca_p_50_caixas_tamanho_medio_m_53122731_1_20200805085910.png" alt="Pipoca">
            <span class="item-title">Pipoca G</span>
            <span class="price">R$ 13,00</span>
            <input type="number" min="0" value="0" class="quantity">
        </div>
        <div class="item">
            <img src="https://acarajedajaira.lojatop.net/_core/_uploads/44/2022/06/2145160622jke4cdfbif.png" alt="Refrigerante">
            <span class="item-title">Refrigerante Lata</span>
            <span class="price">R$ 5,00</span>
            <input type="number" min="0" value="0" class="quantity">
        </div>
        <div class="item">
            <img src="https://cantuccio.cartaz.digital/storage/Empresas/33/Produtos/1142/high/kisspng-fizzy-drinks-sprite-the-coca-cola-company-fanta-ron-cola-5b4c32f1e07818.webp" alt="Refrigerante 600ml">
            <span class="item-title">Refrigerante 600ml</span>
            <span class="price">R$ 8,00</span>
            <input type="number" min="0" value="0" class="quantity">
        </div>
        <div class="item">
            <img src="https://cache-mcd-ecommerce.appmcdonalds.com/images/BR/2334-11839-AguaCristal.png" alt="Água">
            <span class="item-title">Água Mineral</span>
            <span class="price">R$ 3,00</span>
            <input type="number" min="0" value="0" class="quantity">
        </div>
        <div class="item">
            <img src="https://down-br.img.susercontent.com/file/br-11134211-7r98q-lm1vpn0ex1iu08" alt="Chocolate">
            <span class="item-title">Chocolate</span>
            <span class="price">R$ 5,00</span>
            <input type="number" min="0" value="0" class="quantity">
        </div>
    </div>
    <div class="total">
        Total: <span id="total">R$ 0,00</span>
        <button id="confirm-button">Confirmar</button>
    </div>
    </body>
    <script src="../scripts/foodsdrinks.js"></script>
</html>