<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Revise as Informações</title>
    <link rel="stylesheet" href="../css/review.css" />
  </head>

  <body>
    <main id="review-container">
      <h1>Revise as Informações</h1>
      <h2>Filme Selecionado</h2>
      <p id="selected-movie"></p>

      <h2>Assentos Selecionados</h2>
      <p id="selected-seats"></p>

      <h2>Valor dos Ingressos</h2>
      <p id="tickets-price"></p>

      <h2>Itens Selecionados</h2>
      <table id="tabelaItens">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Preço unitário</th>
            <th>Preço Total</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <h2>Valor Total</h2>
      <p id="total-price"></p>

      <button id="confirm-button">Confirmar</button>
    </main>
  </body>
  <script src="../scripts/review.js"></script>
</html>
